body{
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 1;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar h1{
    text-align: center;
    justify-content: center;
    width: 100%;
}
.navbar ul{
    display: flex;
    justify-content: flex-start;
}

.navbar li{
    margin: 0 4px;
    padding: 0 12px;
    cursor: pointer;
}

.navbar__search{
    width: 100%;
    text-align: center;
}

.home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,100vh);
    padding-top: 70px;
    width: 100%;
}

.home h2{
    font-size: 4em;
    text-align: center;
    width: 70%;
}

.home__living{
    background-image: url(/img/home_img1.jpeg);
    background-size: cover;
    background-position: center center;
}

.home__living__text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__living2{
    background-image: url(/img/home_img2.jpeg);
    background-size: cover;
    background-position: center center;
}

.home__sofa{
    background-image: url(/img/home_img3.jpeg);
    background-size: cover;
    background-position: center center;
}


.home__sofa2{
    background-image: url(/img/home_img4.jpeg);
    background-size: cover;
    background-position: center center;
}


.home__text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    animation: slide 1.5s ease-out;
}

@keyframes slide {
    from{
        margin-top: -200px;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes back__slide{
    from{
        opacity: 1;
    }
    
    to{
        margin-top:-200px;
        opacity: 0;
    }
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #efca57;
}

.banner h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 4em;
}

.banner p{
    width: 50%;
    font-size: 18px;
}

.photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50vh;
    grid-auto-flow: dense;
    grid-gap: 2px;
}

.photo__item{
    position: relative;
    width: 100%;
    height: 100%;
}

.photo__item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo__item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.photo__item:hover .image img{
    filter: blur(10px);
}

.photo__item .text__box{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    color: azure;
    pointer-events: none;
    z-index: 3;
    transition: .3s ease-in-out;
}

.photo__item:hover .text__box{
    opacity: 1;
    animation:  text__down .5s linear;
    width: 100%;
}

@keyframes text__down{
    0%{
        top:10%
    }
    50%{
        top:35%
    }
    100%{
        top:50%
    }
}

.photo__container:first-child,
.photo__container:nth-child(5),
.photo__container:nth-child(9),
.photo__container:nth-child(10){
    grid-column-start: span 2;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    background-color: #252839;
}

.contact p{
    position: relative;
    font-size: 3vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw white;
    text-transform: uppercase;
    
}

.contact p::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 4px solid #01fe87;
    overflow: hidden;
    animation: animate 5s linear infinite;

}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }

    70%,90%
    {
        width: 100%;
    }
}
@media screen and (max-width: 1200px){
    .home h2{
        font-size: 3em;
    }

    .photo{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
    }
    
    .photo__container:nth-child(12){
        grid-column-start: span 3; 
    }
}

@media screen and (max-width: 800px){
    .photo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 250px;
    }

    .photo__container:nth-child(12){
        grid-column-start: span 1; 
    }
}